export(D.bspline)
export(add.covariate.bases)
export(addcov2mask)
export(fxi.secrgam)
export(plotDgam)
export(prep4image)
export(prepare.mask.bases)
export(secrgam.fit)
export(trap.covar)
importFrom(fields,image.plot)
importFrom(fields,interp.surface)
importFrom(mgcv,gam)
